/* 레이아웃 */
#wrap { text-align:center; text-transform:uppercase;}
#header1 {  height: 220px; border-top: 1px solid gray; border-bottom: 1px solid gray; }
#header2 { font-size: 30px; height: 50px; border-bottom: 1px Dashed gray; }
#contents { height: 750px; }
#footer {font-size: 30px; height: 60px; border-top: 1px Dashed gray; }

/* 컨텐츠(내용물) */
.container {display: inline-block; text-align: center; width: 1100px; margin: 0 auto; height: inherit; background: white;}


/* 메인 이미지 */
img { height: 220px;}

/* 로그아웃 버튼 */
.logout { display:inline-block;}

/* 게시판 폼 */

        table.table2{
                border-collapse: separate;
                border-spacing: 1px;
                text-align: left;
                line-height: 1.5;
                border-top: 1px solid #ccc;
                margin : 20px 10px;
        }
        table.table2 tr {
                 width: 50px;
                 padding: 10px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
        }
        table.table2 td {
                 width: 100px;
                 padding: 10px;
                 vertical-align: top;
                 border-bottom: 1px solid #ccc;
        }

        form { display: inline-block; text-align: center; margin: 0 auto; }

/* 부가 재료 css */

.button { width: 25px; height: 25px;}

.word1{ padding-left: 10px; padding-right: 10px}

.word2{ padding-top: 10px;}

.twoword { display: inline-block; margin-left:26px; }

.threeword{ display: inline-block; margin-left: 13px;}
